@using Microsoft.AspNetCore.Identity
@using ABSystem.Data.Models
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@inject RoleManager<IdentityRole> roleManager

@{
    // Get the logged-in user using UserManager
    User loggedInUser = await userManager.FindByEmailAsync(User.Identity.Name ?? "");

    // Combine the first and last name to create the full name
    string fullName = loggedInUser?.FirstName + " " + loggedInUser?.LastName;

    // Get the roles assigned to the logged-in user
    var roles = await userManager.GetRolesAsync(loggedInUser);

    // Assuming the user can have one role, you can take the first role (or handle as needed)
    string roleName = roles.FirstOrDefault() ?? "No Role Assigned"; // Default value if no role assigned
}
    
<div class="sidebar ">
    <div class="sidebar-1 border-radius-5">
        <div>@roleName</div>
        <div>@fullName</div>
    </div>
    <div class="sidebar-2 border-radius-5">
        <div>
            <a href="/admin/dashboard">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.125 9.37565L12.5 2.08398L21.875 9.37565V20.834C21.875 21.3865 21.6555 21.9164 21.2648 22.3071C20.8741 22.6978 20.3442 22.9173 19.7917 22.9173H5.20833C4.6558 22.9173 4.12589 22.6978 3.73519 22.3071C3.34449 21.9164 3.125 21.3865 3.125 20.834V9.37565Z" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9.375 22.9167V12.5H15.625V22.9167" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <div href="/admin/dashboard">Dashboard</div>                
            </a>
            <a href="/admin/users-list">
                <svg class="users-list" width="100" height="75" viewBox="0 0 100 75" xmlns="http://www.w3.org/2000/svg">
                    <path d="M43.75 75C43.75 75 37.5 75 37.5 68.75C37.5 62.5 43.75 43.75 68.75 43.75C93.75 43.75 100 62.5 100 68.75C100 75 93.75 75 93.75 75H43.75ZM68.75 37.5C73.7228 37.5 78.4919 35.5246 82.0083 32.0083C85.5246 28.4919 87.5 23.7228 87.5 18.75C87.5 13.7772 85.5246 9.00806 82.0083 5.49175C78.4919 1.97544 73.7228 0 68.75 0C63.7772 0 59.0081 1.97544 55.4917 5.49175C51.9754 9.00806 50 13.7772 50 18.75C50 23.7228 51.9754 28.4919 55.4917 32.0083C59.0081 35.5246 63.7772 37.5 68.75 37.5ZM32.6 75C31.6739 73.0487 31.2119 70.9096 31.25 68.75C31.25 60.2812 35.5 51.5625 43.35 45.5C39.4324 44.2902 35.3498 43.6998 31.25 43.75C6.25 43.75 0 62.5 0 68.75C0 75 6.25 75 6.25 75H32.6ZM28.125 37.5C32.269 37.5 36.2433 35.8538 39.1735 32.9235C42.1038 29.9933 43.75 26.019 43.75 21.875C43.75 17.731 42.1038 13.7567 39.1735 10.8265C36.2433 7.8962 32.269 6.25 28.125 6.25C23.981 6.25 20.0067 7.8962 17.0765 10.8265C14.1462 13.7567 12.5 17.731 12.5 21.875C12.5 26.019 14.1462 29.9933 17.0765 32.9235C20.0067 35.8538 23.981 37.5 28.125 37.5Z" fill="#A9A9A9" />
                </svg>
                <div>User List</div>
            </a>
            <a href="/admin/dashboard">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.875 16.6671V8.3338C21.8746 7.96846 21.7782 7.60965 21.5954 7.29335C21.4125 6.97705 21.1497 6.71439 20.8333 6.53172L13.5417 2.36505C13.225 2.1822 12.8657 2.08594 12.5 2.08594C12.1343 2.08594 11.775 2.1822 11.4583 2.36505L4.16667 6.53172C3.85027 6.71439 3.58748 6.97705 3.40465 7.29335C3.22182 7.60965 3.12537 7.96846 3.125 8.3338V16.6671C3.12537 17.0325 3.22182 17.3913 3.40465 17.7076C3.58748 18.0239 3.85027 18.2865 4.16667 18.4692L11.4583 22.6359C11.775 22.8187 12.1343 22.915 12.5 22.915C12.8657 22.915 13.225 22.8187 13.5417 22.6359L20.8333 18.4692C21.1497 18.2865 21.4125 18.0239 21.5954 17.7076C21.7782 17.3913 21.8746 17.0325 21.875 16.6671Z" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M7.8125 4.38477L12.5 7.0931L17.1875 4.38477" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M7.8125 20.6146V15.2083L3.125 12.5" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21.875 12.5L17.1875 15.2083V20.6146" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.40625 7.25L12.5 12.5104L21.5937 7.25" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12.5 23V12.5" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div >Room List</div>
            </a>
        </div>
        <div>
            <a>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H9" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16 17L21 12L16 7" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21 12H9" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <a asp-action="Logout" asp-controller="Account">Logout
            </a>
            </a>
        </div>
    </div>
</div>