@using ABSystem.Services.Dto;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserDto
<html>
<head>
    <title>Users List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/admin/adduser.css" />
    <link rel="stylesheet" href="~/css/common.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    
</head>
<body>
    <div class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                <div class="icon__wrapper">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.2908 3.8602L1.82075 18.0002C1.64612 18.3026 1.55372 18.6455 1.55274 18.9947C1.55176 19.3439 1.64224 19.6873 1.81518 19.9907C1.98812 20.2941 2.23748 20.547 2.53846 20.7241C2.83944 20.9012 3.18155 20.9964 3.53075 21.0002H20.4708C20.82 20.9964 21.1621 20.9012 21.463 20.7241C21.764 20.547 22.0134 20.2941 22.1863 19.9907C22.3593 19.6873 22.4497 19.3439 22.4488 18.9947C22.4478 18.6455 22.3554 18.3026 22.1808 18.0002L13.7108 3.8602C13.5325 3.56631 13.2815 3.32332 12.9819 3.15469C12.6824 2.98605 12.3445 2.89746 12.0008 2.89746C11.657 2.89746 11.3191 2.98605 11.0196 3.15469C10.72 3.32332 10.469 3.56631 10.2908 3.8602Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 9V13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 17H12.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <p>@TempData["SuccessMessage"]</p>
                <span class="mdi mdi-open-in-new open"></span>
                <span class="mdi mdi-close close"></span>
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-error">
                <div class="icon__wrapper">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.2908 3.8602L1.82075 18.0002C1.64612 18.3026 1.55372 18.6455 1.55274 18.9947C1.55176 19.3439 1.64224 19.6873 1.81518 19.9907C1.98812 20.2941 2.23748 20.547 2.53846 20.7241C2.83944 20.9012 3.18155 20.9964 3.53075 21.0002H20.4708C20.82 20.9964 21.1621 20.9012 21.463 20.7241C21.764 20.547 22.0134 20.2941 22.1863 19.9907C22.3593 19.6873 22.4497 19.3439 22.4488 18.9947C22.4478 18.6455 22.3554 18.3026 22.1808 18.0002L13.7108 3.8602C13.5325 3.56631 13.2815 3.32332 12.9819 3.15469C12.6824 2.98605 12.3445 2.89746 12.0008 2.89746C11.657 2.89746 11.3191 2.98605 11.0196 3.15469C10.72 3.32332 10.469 3.56631 10.2908 3.8602Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 9V13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 17H12.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <p>@TempData["ErrorMessage"]</p>
                <span class="mdi mdi-open-in-new open"></span>
                <span class="mdi mdi-close close"></span>
            </div>
        }
        <partial name="Header" />
        <div class="content">
            <partial name="Sidebar" />
            <div class="main-content">
                <div class="sub-header border-radius-5">
                    <div>User - Edit</div>
                    <a class="action-btn back-btn border-radius-5" href="/admin/users-list"><img src="~/icons/back.svg" alt="add" />BACK</a>
                </div>
                <div class="sub-content border-radius-5">
                    <form asp-controller="User" asp-action="EditUser" method="POST">
                        <input type="hidden" asp-for="Id" />
                        <div class="outer-container">
                            <div class="input-group">
                                <div>
                                    <label>Email</label>
                                    <input type="text" asp-for="Email" class="border-radius-5" />

                                    <span asp-validation-for="Email" class="error"></span>
                                </div>
                                <div>
                                    <label>First Name</label>
                                    <input type="text" asp-for="FirstName" class="border-radius-5" />
                                    <span asp-validation-for="FirstName" class="error"></span>
                                </div>
                                <div>
                                    <label>Last Name</label>
                                    <input type="text" asp-for="LastName" class="border-radius-5" />
                                    <span asp-validation-for="LastName" class="error"></span>
                                </div>
                                <div>
                                    <label>Password</label>
                                    <input type="password" asp-for="Password" class="border-radius-5" />
                                    <span asp-validation-for="Password" class="error"></span>
                                </div>
                            </div>
                            <div class="input-group">
                                <div>
                                    <label>User Role</label>
                                    <select asp-for="Role">
                                        <option value="">Select a Role</option>
                                        <option value="Admin">Admin</option>
                                        <option value="User">User</option>
                                    </select>

                                    <span asp-validation-for="Role" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="action-btn">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/dark-mode.js"></script>
</body>
</html>