.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.521vw;
    box-sizing: border-box;
    width: 100%;
    background: #fff; 
    font-size: 1vw !important; 
    height: 3vw;
}

.sub-header div {
    font-size: 1vw !important;
}

.sub-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding: 1vw;
    box-sizing: border-box;
    gap: 0.521vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 1vw;
}

.outer-container{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    width: 100%;
    height: 100%;
}

.input-group {
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 0.521vw;
    padding: 0 0 0 5vw;
    box-sizing: border-box;
}

.input-group div{
    width: 100%;
}

.input-group .input-center div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.2vw;
    width: auto;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 0.521vw;
    border: 0.052vw solid #A9A9A9;
    box-sizing: border-box;
}

textarea {
    padding: 0.521vw;
    border: 0.052vw solid #A9A9A9;
    box-sizing: border-box;
    width: 100%;
    min-height: 10vw;
}

.input-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    padding: 0 5.5vw;
    box-sizing: border-box;
}

.input-images img {
    width: 7vw;
    height: 7vw;
    object-fit: cover;
}

.input-images .scrollable {
    overflow: auto;
    width: 28vw;
    height: 24.5vw;
    border: 0.052vw solid #A9A9A9;
}

.input-images .preview-container{
    padding: 0.5vw;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5vw;
    height: 100%;
}


.input-images .img-container {
    padding: 0.5vw;
    box-sizing: border-box;
    border: 0.052vw solid #A9A9A9;
    width: 8vw;
    height: 8vw;
}

.input-images .no-img{
    width: 100%;
    height: 100%;
}

.upload-img-btn{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}


.upload-img-btn div{
    width: 8vw;
}

