@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using ABSystem.Services.Dto;
@{
    bool isDevelopment = Configuration.GetValue<bool>("AppSettings:IsDevelopment");
}
@model LoginDto
<html>
    <head>
        <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        <div class="container">
            <div class="left-content">
                <div>Welcome to our AB Booking</div>
                <img src="~/images/image_1.png"/>
            </div>
            <div class="right-content">
                <form asp-controller="Account" asp-action="Login" method="POST"  class="login-content">
                    
                    <div class="title">Sign In</div>
                    <div class="fields">
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" asp-for="Email" />
                        </div>
                        <div class="input-field">
                                <label>Password</label>
                                <input type="password" asp-for="Password" />
                            </div>
                         <div>
                            <a href="/forgot-password">Forgot Password?</a>
                         </div>
                    </div>
                    <div class="button-group">
                        <button class="action-btn" type="submit">Login</button>
                        <div>
                            <div>Don't have an account? <a href="/register">Sign Up</a></div>
                        </div>
                    </div>
                    @if (isDevelopment)
                    {
                        <div class="demo">
                            <div>Demo Accounts</div>
                            <div class="accounts">
                                <form asp-controller="Account" asp-action="Login" method="POST">
                                    <input type="hidden" asp-for="Email" value="demo@super.com" />
                                    <input type="hidden" asp-for="Password" value="Super@123" />
                                    <button class="action-btn" type="submit">Super</button>
                                </form>
                                <form asp-controller="Account" asp-action="Login" method="POST">
                                    <input type="hidden" asp-for="Email" value="demo@admin.com" />
                                    <input type="hidden" asp-for="Password" value="Admin@123" />
                                    <button class="action-btn" type="submit">Admin</button>
                                </form>
                                <form asp-controller="Account" asp-action="Login" method="POST">
                                    <button class="action-btn" type="submit">User</button>
                                </form>
                            </div>                          
                        </div>
                    }
                </form>
            </div>
        </div>
    </body>
</html>