.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #1B4965;
    padding: 0.521vw;
    box-sizing: border-box;
    height: 4vw;
}

.header div {
    display: flex;
    align-items: center;
    gap: 1.042vw;
}

.header img {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}

.header div:nth-child(1){
    display: flex;
    gap: 0.5vw; 
    align-items: center;
}

.header div:nth-child(1) img {
    width: 2.5vw;
    height: 2.5vw;
}

.title{
    font-size: 2vw;
    color: #fff;    
}

.header div:nth-child(2) {
    padding: 0 0.5vw 0 0;
    box-sizing: border-box;
}

